<mat-toolbar color="accent">
  <h1>
    <a routerLink="/">
      My Messages
    </a>
  </h1>

  <span class="space"></span>

  <ul>
    <li>
      <a *ngIf="isAuthenticated" mat-button routerLink="/create" routerLinkActive="mat-primary">
        Add new post
      </a>
    </li>
    <li>
      <a *ngIf="!isAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-primary">
        Login
      </a>
    </li>
    <li>
      <a *ngIf="!isAuthenticated" mat-button routerLink="/signup" routerLinkActive="mat-primary">
        Sign Up
      </a>
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-button>Logout</button>
    </li>
  </ul>
</mat-toolbar>
