<mat-accordion
  multi="true"
  *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
    </div>
    {{ post.content }}
    <mat-action-row *ngIf="isAuthenticated && userId === post.author">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]" routerLinkActive="router-link-active" >EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator
  *ngIf="posts.length > 0"
  [length]="totalPosts"
  [pageSize]="postForPage"
  [pageSizeOptions]="pageSize"
  (page)="onChangePaginator($event)">
</mat-paginator>

<p
  class="p-centered mat-body-2"
  *ngIf="posts.length === 0 && !isLoading">No posts added yet!
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>
